@model projetofood.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Cardapio";
}

<partial name="_Carousel"/>
<h1 class="text-center">Sabores Favoritos</h1>
<div class="row">
@foreach(var item in Model.ItensEmDestaque){
<partial name="_Card" for="@item"></partial>
}

